@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
   /* Inputs (light + dark theme) */
   input[type='text'],
   input[type='email'],
   input[type='password'],
   input[type='number'],
   input[type='search'],
   input[type='url'],
   input[type='date'],
   textarea,
   select {
      @apply rounded-md
         border bg-white text-slate-900 border-gray-300 placeholder-gray-500 dark:bg-gray-900 dark:text-gray-100 dark:border-gray-700 dark:placeholder-gray-400;
   }

   /* Focus styles */
   input:focus,
   textarea:focus,
   select:focus {
      @apply ring-2 ring-indigo-500 border-gray-600 outline-none ring-offset-2 ring-offset-white dark:ring-offset-gray-900;
   }

   /* Cards/containers */
   .card {
      @apply rounded-lg border border-gray-200 bg-white text-slate-900 dark:border-gray-800 dark:bg-gray-900 dark:text-gray-100;
   }

   .card-hover {
      @apply hover:bg-gray-100 dark:hover:bg-gray-800;
   }

   .card-focus {
      @apply focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:ring-offset-white dark:focus:ring-offset-gray-950;
   }
}
